<% include header %>

  <div class="container pad-80">
    <div class="jumbotron">
      <h2>Navbar example</h2>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus</p>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper.</p>
      <p>
        <a class="btn btn-md btn-primary" href="host" role="button">Start Host</a>
        <a class="btn btn-md btn-default" href="participant" role="button">Participant</a>
      </p>
    </div>
  </div>

<% include footer %>
